<div class="card m-4">
  <div class="card-header">
    <h5>{{ "place-order-page-label" | translate }}</h5>
  </div>
  <div class="card-body" [formGroup]="CheckoutForm">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label"
        >{{ "name-label" | translate }} *</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="name"
          placeholder="{{ 'name-label' | translate }}"
          [ngClass]="{
            'is-invalid':
              (CheckoutForm?.get('name')?.touched ||
                CheckoutForm?.get('name')?.dirty) &&
              !CheckoutForm?.get('name')?.valid,
            'is-valid': CheckoutForm?.get('name')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="CheckoutForm?.get('name')?.errors?.required">
            {{ "name-required-error-message" | translate }}
          </span>
          <span *ngIf="CheckoutForm?.get('name')?.errors?.minlength">
            {{ "name-min-length-error-message" | translate }}
          </span>
          <span *ngIf="CheckoutForm?.get('name')?.errors?.maxlength">
            {{ "name-max-length-error-message" | translate }}
          </span>
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <label for="phone" class="col-sm-2 col-form-label">Phone *</label>
      <div class="col-sm-10">
        <input
          type="tel"
          formControlName="phone"
          class="form-control"
          id="phone"
          placeholder="{{ 'phone-placeholder' | translate }}"
          [ngClass]="{
            'is-invalid':
              (CheckoutForm?.get('phone')?.touched ||
                CheckoutForm?.get('phone')?.dirty) &&
              !CheckoutForm?.get('phone')?.valid,
            'is-valid': CheckoutForm?.get('phone')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="CheckoutForm?.get('phone')?.errors?.required">
            {{ "phone-required-error-message" | translate }}
          </span>
          <span *ngIf="CheckoutForm?.get('phone')?.errors?.pattern">
            {{ "phone-invalid-error-message" | translate }}
          </span>
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <label for="pincode" class="col-sm-2 col-form-label"
        >{{ "pincode-label" | translate }} *</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="pincode"
          class="form-control"
          id="pincode"
          placeholder="{{ 'pincode-label' | translate }}"
          [ngClass]="{
            'is-invalid':
              (CheckoutForm?.get('pincode')?.touched ||
                CheckoutForm?.get('pincode')?.dirty) &&
              !CheckoutForm?.get('pincode')?.valid,
            'is-valid': CheckoutForm?.get('pincode')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="CheckoutForm?.get('pincode')?.errors?.required">
            {{ "pincode-required-error-message" | translate }}
          </span>
          <span *ngIf="CheckoutForm?.get('pincode')?.errors?.pattern">
            {{ "pincode-invalid-error-message" | translate }}
          </span>
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <label for="addressline" class="col-sm-2 col-form-label"
        >{{ "address-label" | translate }} *</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="addressline"
          class="form-control"
          id="addressline"
          placeholder="{{ 'address-placeholder' | translate }}"
          [ngClass]="{
            'is-invalid':
              (CheckoutForm?.get('addressline')?.touched ||
                CheckoutForm?.get('addressline')?.dirty) &&
              !CheckoutForm?.get('addressline')?.valid,
            'is-valid': CheckoutForm?.get('addressline')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="CheckoutForm?.get('addressline')?.errors?.required">
            {{ "address-required-error-message" | translate }}
          </span>
          <span *ngIf="CheckoutForm?.get('addressline')?.errors?.minlength">
            {{ "address-min-length-error-message" | translate }}
          </span>
          <span *ngIf="CheckoutForm?.get('addressline')?.errors?.maxlength">
            {{ "address-max-length-error-message" | translate }}
          </span>
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <label for="city" class="col-sm-2 col-form-label"
        >{{ "city-label" | translate }} *</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="city"
          class="form-control"
          id="city"
          placeholder="{{ 'city-label' | translate }}"
          [ngClass]="{
            'is-invalid':
              (CheckoutForm?.get('city')?.touched ||
                CheckoutForm?.get('city')?.dirty) &&
              !CheckoutForm?.get('city')?.valid,
            'is-valid': CheckoutForm?.get('city')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="CheckoutForm?.get('city')?.errors?.required">
            {{ "city-required-error-message" | translate }}
          </span>
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <label for="state" class="col-sm-2 col-form-label"
        >{{ "state-label" | translate }} *</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          formControlName="state"
          class="form-control"
          id="state"
          placeholder="{{ 'state-label' | translate }}"
          [ngClass]="{
            'is-invalid':
              (CheckoutForm?.get('state')?.touched ||
                CheckoutForm?.get('state')?.dirty) &&
              !CheckoutForm?.get('state')?.valid,
            'is-valid': CheckoutForm?.get('state')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="CheckoutForm?.get('state')?.errors?.required">
            {{ "state-required-error-message" | translate }}
          </span>
        </span>
      </div>
    </div>
    <button (click)="checkout()" class="btn btn-dark">
      {{ "proceed-to-checkout-label" | translate }}
    </button>
  </div>
</div>
