<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#f1e72f" type="ball-clip-rotate-pulse"
  [fullScreen]="true" [showSpinner]="isLoading">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="card m-4">
  <div class="row g-0" *ngIf="product">
    <div class="col-md-6">
      <img src="{{ product.imageUrl }}" class="img-fluid" alt="..." />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">
          {{ product.description }}
        </p>
        <h5 class="card-text">
          {{ "price-label" | translate }} :
          {{ product.price | currency: "INR" }}
        </h5>
        <h5 class="card-text">
          {{ "brand-label" | translate }} :
          {{ product.brand }}
        </h5>
        <h6 class="card-text" *ngIf="product.color">
          {{ "color-label" | translate }} : {{ product.color }}
        </h6>
        <h6 class="card-text" *ngIf="product.size">
          {{ "size-label" | translate }} :
          {{ product.size }}
        </h6>
        <button (click)="addToCart(product)" class="btn btn-dark">
          {{ "add-cart-label" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!product && !isLoading">
    <div class="col-lg-3 col-sm-2"></div>
    <div class="col-lg-8 col-sm-8">
      <img src="/assets/images/no-product-found.png" class="img-fluid text-center" alt="..." />
    </div>
    <div class="col-lg-1 col-sm-2"></div>
  </div>
</div>