<div class="container mb-5">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#f1e72f" type="ball-clip-rotate-pulse"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div *ngIf="!isSearching else searchProducts">
    <div class="container" *ngFor="let productCategoryWise of productsCategoryWise">
      <div class="row">
        <h3 *ngIf="productCategoryWise.products.length">{{productCategoryWise.productCategory}}</h3>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 pt-2 pb-3" *ngFor="let product of productCategoryWise.products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </div>
  </div>
  <ng-template #searchProducts>
    <div class="row">
      <div class="col-lg-4 col-sm-6 p-4" *ngFor="let product of products">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
    <div class="row" *ngIf="!products.length">
      <div class="col-lg-3 col-sm-2"></div>
      <div class="col-lg-8 col-sm-8">
        <img src="/assets/images/no-product-found.png" class="img-fluid text-center" alt="..." />
      </div>
      <div class="col-lg-1 col-sm-2"></div>
    </div>
  </ng-template>
</div>